
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thank you for your recent order <%= @email %>!</h1>
    <p>
      Please find below the details of your order<br>
    </p>
  <div class="panel panel-default items">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th colspan="2">Product</th>
          <th>Unit Price</th>
          <th>Quantity</th>
          <th>Price</th>
        </tr>
      </thead>
       <tbody>
        <% @cart_total = 0 %>
        <% @items.each do |line_item| %>
          <%= render 'item', line_item: line_item %>
        <% end %>
      </tbody>
      <tfoot>
        <tr>
          <th colspan="4">
            TOTAL:
          </th>
          <th>
            <%= @cart_total%>
          </th>
        </tr>
      </tfoot>
    </table>
  </div>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>